/* CSS Document */
textarea{
	resize: none;
	}
body{
margin:0;
padding:0;
font-family:"微软雅黑","宋体",Arial, "\5B8B\4F53", sans-serif;
position: absolute;
height: 100%;
width: 100%;
}
#content{
margin:0 auto;
height:auto;
}
/* a{color:#00479d;text-decoration:none;} */
a:hover{
text-decoration:none;
color:#00a0e9;
}
#contenter{
margin:0 auto;
width:100%;
overflow:hidden;
}
#login_con{
	width:880px;
	margin:0 auto;
	height:100%;
	padding:10px 40px;
	background: url(../images/login_bottom.png);
background-position: bottom;
background-repeat: no-repeat;
padding-bottom: 20px;
	}
#footer_con{
	width:880px;
	margin:0 auto;
	height:100%;
	}
	
/*****************loading***********************/
.loading {
	background: #e8e8e8;
	border: 1px solid #d0d0d0;
	padding: 20px;
	position: relative;
	margin: 0 auto;
	width: 200px;
	top: 200px;
	z-index: 500;
}

.loding_img {
	background: url(../images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
	height: 32px;
}
	