body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:118px;
  width:105px;
  height:85px;
}
#u2_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u4 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u7 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u9 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u10 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u12 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u13 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u15 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u16 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:80px;
  top:70px;
  width:53px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:80px;
  top:96px;
  width:740px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u20 {
  position:absolute;
  left:790px;
  top:63px;
  width:30px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:210px;
  top:146px;
  width:445px;
  height:335px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:100px;
  top:0px;
  width:120px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:220px;
  top:0px;
  width:120px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:340px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:100px;
  top:30px;
  width:120px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:220px;
  top:30px;
  width:120px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:340px;
  top:30px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:100px;
  top:60px;
  width:120px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:220px;
  top:60px;
  width:120px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:340px;
  top:60px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:100px;
  top:90px;
  width:120px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:220px;
  top:90px;
  width:120px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:340px;
  top:90px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:100px;
  top:120px;
  width:120px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:220px;
  top:120px;
  width:120px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:340px;
  top:120px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:100px;
  top:150px;
  width:120px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:220px;
  top:150px;
  width:120px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:340px;
  top:150px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:100px;
  top:180px;
  width:120px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:220px;
  top:180px;
  width:120px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:340px;
  top:180px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:210px;
  width:100px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:100px;
  top:210px;
  width:120px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:220px;
  top:210px;
  width:120px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:340px;
  top:210px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:240px;
  width:100px;
  height:30px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:100px;
  top:240px;
  width:120px;
  height:30px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:220px;
  top:240px;
  width:120px;
  height:30px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:340px;
  top:240px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:270px;
  width:100px;
  height:30px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:100px;
  top:270px;
  width:120px;
  height:30px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:220px;
  top:270px;
  width:120px;
  height:30px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:340px;
  top:270px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:30px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:100px;
  top:300px;
  width:120px;
  height:30px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:220px;
  top:300px;
  width:120px;
  height:30px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:340px;
  top:300px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:485px;
  top:110px;
  width:100px;
  height:25px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u112 {
  position:absolute;
  left:595px;
  top:110px;
  width:50px;
  height:25px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u113 {
  position:absolute;
  left:210px;
  top:115px;
  width:66px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:670px;
  top:114px;
  width:66px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:673px;
  top:146px;
  width:150px;
  height:330px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:330px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119 {
  position:absolute;
  left:600px;
  top:480px;
  width:60px;
  height:30px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:455px;
  top:480px;
  width:29px;
  height:30px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:483px;
  top:480px;
  width:29px;
  height:30px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:511px;
  top:480px;
  width:29px;
  height:30px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:539px;
  top:480px;
  width:29px;
  height:30px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:566px;
  top:480px;
  width:29px;
  height:30px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:390px;
  top:480px;
  width:60px;
  height:30px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:325px;
  top:480px;
  width:60px;
  height:30px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:210px;
  top:488px;
  width:50px;
  height:16px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:260px;
  top:480px;
  width:60px;
  height:30px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:320px;
  top:520px;
  width:100px;
  height:25px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u140 {
  position:absolute;
  left:440px;
  top:520px;
  width:100px;
  height:25px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
