body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:82px;
  top:167px;
  width:320px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:182px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:82px;
  top:257px;
  width:320px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:94px;
  top:264px;
  width:200px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:96px;
  top:284px;
  width:74px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:82px;
  top:306px;
  width:320px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:94px;
  top:313px;
  width:200px;
  height:16px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:96px;
  top:333px;
  width:59px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:139px;
  top:229px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:297px;
  top:229px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:126px;
  top:250px;
  width:80px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  height:3px;
}
#u23 {
  position:absolute;
  left:500px;
  top:50px;
  width:380px;
  height:800px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u24 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:532px;
  top:167px;
  width:320px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:540px;
  top:182px;
  width:20px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:532px;
  top:257px;
  width:320px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:544px;
  top:264px;
  width:200px;
  height:16px;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:546px;
  top:284px;
  width:59px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:806px;
  top:268px;
  width:10px;
  height:31px;
}
#u35_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u35_end {
  position:absolute;
  left:-5px;
  top:14px;
  width:20px;
  height:18px;
}
#u35_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:31px;
}
#u36 {
  position:absolute;
  left:821px;
  top:275px;
  width:21px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:532px;
  top:306px;
  width:320px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:544px;
  top:313px;
  width:200px;
  height:16px;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:546px;
  top:333px;
  width:59px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:806px;
  top:317px;
  width:10px;
  height:31px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:14px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:31px;
}
#u45 {
  position:absolute;
  left:821px;
  top:324px;
  width:21px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:589px;
  top:229px;
  width:53px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:747px;
  top:229px;
  width:53px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:734px;
  top:250px;
  width:80px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  height:3px;
}
