body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:82px;
  top:167px;
  width:321px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:317px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:182px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:82px;
  top:217px;
  width:320px;
  height:520px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:29px;
  top:14px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:135px;
  top:14px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:239px;
  top:14px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:16px;
  top:32px;
  width:80px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  height:3px;
}
#u15 {
  position:absolute;
  left:0px;
  top:39px;
  width:320px;
  height:60px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:12px;
  top:51px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:12px;
  top:75px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:98px;
  width:320px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:12px;
  top:110px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:12px;
  top:134px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:157px;
  width:320px;
  height:60px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:12px;
  top:169px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:12px;
  top:193px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:0px;
  top:216px;
  width:320px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:12px;
  top:228px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:12px;
  top:252px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:0px;
  top:275px;
  width:320px;
  height:60px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:12px;
  top:287px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:12px;
  top:311px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:334px;
  width:320px;
  height:60px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:12px;
  top:346px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:12px;
  top:370px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:0px;
  top:393px;
  width:320px;
  height:60px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u58 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:12px;
  top:405px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:12px;
  top:429px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:123px;
  top:32px;
  width:80px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  height:3px;
}
#u65 {
  position:absolute;
  left:0px;
  top:39px;
  width:320px;
  height:60px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u66 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:12px;
  top:51px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:12px;
  top:75px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:0px;
  top:98px;
  width:320px;
  height:60px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u73 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:12px;
  top:110px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:12px;
  top:134px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:0px;
  top:157px;
  width:320px;
  height:60px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u80 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:12px;
  top:169px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:12px;
  top:193px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:0px;
  top:216px;
  width:320px;
  height:60px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:12px;
  top:228px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:12px;
  top:252px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:0px;
  top:275px;
  width:320px;
  height:60px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u94 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:12px;
  top:287px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:12px;
  top:311px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:0px;
  top:334px;
  width:320px;
  height:60px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:12px;
  top:346px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:12px;
  top:370px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:29px;
  top:14px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:135px;
  top:14px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:239px;
  top:14px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u112 {
  position:absolute;
  left:228px;
  top:32px;
  width:80px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  height:3px;
}
#u114 {
  position:absolute;
  left:0px;
  top:39px;
  width:320px;
  height:60px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u115 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:12px;
  top:51px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:12px;
  top:75px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:0px;
  top:98px;
  width:320px;
  height:60px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u122 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:12px;
  top:110px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:12px;
  top:134px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:0px;
  top:157px;
  width:320px;
  height:60px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u129 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:12px;
  top:169px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:12px;
  top:193px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:0px;
  top:216px;
  width:320px;
  height:60px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u136 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:12px;
  top:228px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:12px;
  top:252px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:29px;
  top:14px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:135px;
  top:14px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:239px;
  top:14px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:310px;
  top:177px;
  width:80px;
  height:30px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
