body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:82px;
  top:167px;
  width:321px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:317px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:182px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:92px;
  top:345px;
  width:300px;
  height:186px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:186px;
}
#u7 {
  position:absolute;
  left:2px;
  top:85px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:362px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:240px;
  top:388px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:240px;
  top:408px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:108px;
  top:362px;
  width:120px;
  height:150px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:150px;
}
#u15 {
  position:absolute;
  left:2px;
  top:67px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:240px;
  top:480px;
  width:142px;
  height:32px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:240px;
  top:438px;
  width:152px;
  height:32px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:97px;
  top:288px;
  width:295px;
  height:48px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:92px;
  top:541px;
  width:300px;
  height:186px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:186px;
}
#u23 {
  position:absolute;
  left:2px;
  top:85px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:240px;
  top:559px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:240px;
  top:585px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:240px;
  top:605px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:108px;
  top:559px;
  width:120px;
  height:150px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:150px;
}
#u31 {
  position:absolute;
  left:2px;
  top:67px;
  width:116px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:240px;
  top:677px;
  width:152px;
  height:32px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:240px;
  top:635px;
  width:152px;
  height:32px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:97px;
  top:227px;
  width:297px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:92px;
  top:276px;
  width:300px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u39 {
  position:absolute;
  left:97px;
  top:260px;
  width:65px;
  height:16px;
  color:#666666;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
