body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:82px;
  top:167px;
  width:320px;
  height:50px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:92px;
  top:182px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:82px;
  top:216px;
  width:320px;
  height:60px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:95px;
  top:225px;
  width:42px;
  height:42px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u9 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:99px;
  top:227px;
  width:35px;
  height:35px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:82px;
  top:275px;
  width:320px;
  height:60px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:95px;
  top:284px;
  width:42px;
  height:42px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:99px;
  top:286px;
  width:35px;
  height:35px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:82px;
  top:334px;
  width:320px;
  height:60px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:95px;
  top:343px;
  width:42px;
  height:42px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u21 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:99px;
  top:345px;
  width:35px;
  height:35px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:82px;
  top:393px;
  width:320px;
  height:60px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:95px;
  top:402px;
  width:42px;
  height:42px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u27 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:99px;
  top:404px;
  width:35px;
  height:35px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
