body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:1200px;
  height:70px;
  font-size:28px;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:18px;
  width:1196px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:970px;
  top:34px;
  width:30px;
  height:34px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1019px;
  top:42px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1148px;
  top:40px;
  width:22px;
  height:25px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:845px;
  top:43px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:790px;
  top:22px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:790px;
  top:54px;
  width:30px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:805px;
  top:10px;
  width:30px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:350px;
  top:960px;
  width:70px;
  height:30px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:460px;
  top:960px;
  width:70px;
  height:30px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:210px;
  top:100px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:190px;
  top:130px;
  width:1000px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u22 {
  position:absolute;
  left:210px;
  top:167px;
  width:162px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:320px;
  top:410px;
  width:590px;
  height:100px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:210px;
  top:410px;
  width:40px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:320px;
  top:210px;
  width:200px;
  height:30px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:210px;
  top:217px;
  width:71px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:278px;
  width:180px;
  height:41px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:41px;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:41px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:41px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:436px;
  width:180px;
  height:41px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:715px;
  width:180px;
  height:41px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:475px;
  width:180px;
  height:41px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:755px;
  width:180px;
  height:41px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:41px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:396px;
  width:180px;
  height:41px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:675px;
  width:180px;
  height:41px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:954px;
  width:180px;
  height:41px;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:994px;
  width:180px;
  height:41px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:1074px;
  width:180px;
  height:41px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:795px;
  width:180px;
  height:41px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:875px;
  width:180px;
  height:41px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:515px;
  width:180px;
  height:41px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:318px;
  width:180px;
  height:40px;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:356px;
  width:180px;
  height:41px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:595px;
  width:180px;
  height:41px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:555px;
  width:180px;
  height:41px;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:835px;
  width:180px;
  height:41px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:915px;
  width:180px;
  height:41px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:1154px;
  width:180px;
  height:41px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:1114px;
  width:180px;
  height:41px;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:635px;
  width:180px;
  height:41px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:1034px;
  width:180px;
  height:41px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:350px;
  top:590px;
  width:100px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u88 {
  position:absolute;
  left:485px;
  top:590px;
  width:100px;
  height:25px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u89 {
  position:absolute;
  left:210px;
  top:267px;
  width:84px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:320px;
  top:260px;
  width:200px;
  height:30px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u92 {
  position:absolute;
  left:210px;
  top:367px;
  width:71px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:430px;
  top:360px;
  width:50px;
  height:30px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u95 {
  position:absolute;
  left:320px;
  top:367px;
  width:64px;
  height:16px;
}
#u96 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u95_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u97 {
  position:absolute;
  left:385px;
  top:367px;
  width:45px;
  height:16px;
}
#u98 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u99 {
  position:absolute;
  left:486px;
  top:367px;
  width:14px;
  height:16px;
  color:#000000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:430px;
  top:310px;
  width:50px;
  height:30px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102 {
  position:absolute;
  left:210px;
  top:317px;
  width:110px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:320px;
  top:317px;
  width:64px;
  height:16px;
}
#u105 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  position:absolute;
  left:385px;
  top:317px;
  width:45px;
  height:16px;
}
#u107 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  position:absolute;
  left:565px;
  top:310px;
  width:50px;
  height:30px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109 {
  position:absolute;
  left:520px;
  top:317px;
  width:45px;
  height:16px;
}
#u110 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u111 {
  position:absolute;
  left:695px;
  top:310px;
  width:50px;
  height:30px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u112 {
  position:absolute;
  left:650px;
  top:317px;
  width:50px;
  height:16px;
}
#u113 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u112_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u114 {
  position:absolute;
  left:485px;
  top:317px;
  width:14px;
  height:16px;
  color:#000000;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:620px;
  top:317px;
  width:14px;
  height:16px;
  color:#000000;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:750px;
  top:317px;
  width:14px;
  height:16px;
  color:#000000;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
