body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:82px;
  top:167px;
  width:321px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:317px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:182px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:93px;
  top:227px;
  width:297px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:159px;
  top:274px;
  width:162px;
  height:16px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:82px;
  top:367px;
  width:320px;
  height:50px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:82px;
  top:416px;
  width:320px;
  height:50px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:82px;
  top:465px;
  width:320px;
  height:50px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:82px;
  top:514px;
  width:320px;
  height:50px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:82px;
  top:612px;
  width:320px;
  height:50px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:160px;
  top:310px;
  width:160px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:500px;
  top:50px;
  width:380px;
  height:800px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u23 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:532px;
  top:167px;
  width:321px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:317px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:540px;
  top:182px;
  width:20px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:543px;
  top:227px;
  width:297px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:609px;
  top:274px;
  width:162px;
  height:16px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:532px;
  top:367px;
  width:320px;
  height:50px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:532px;
  top:416px;
  width:320px;
  height:50px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:532px;
  top:465px;
  width:320px;
  height:50px;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:532px;
  top:514px;
  width:320px;
  height:50px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:610px;
  top:310px;
  width:160px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:82px;
  top:563px;
  width:320px;
  height:50px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:532px;
  top:612px;
  width:320px;
  height:50px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:532px;
  top:563px;
  width:320px;
  height:50px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
