body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:82px;
  top:167px;
  width:321px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:317px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:182px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:82px;
  top:216px;
  width:320px;
  height:55px;
  font-size:14px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:96px;
  top:250px;
  width:41px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:82px;
  top:270px;
  width:320px;
  height:55px;
  font-size:14px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:96px;
  top:303px;
  width:41px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:82px;
  top:324px;
  width:320px;
  height:55px;
  font-size:14px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:96px;
  top:357px;
  width:41px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
