body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:82px;
  top:167px;
  width:320px;
  height:50px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:92px;
  top:182px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:82px;
  top:216px;
  width:320px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:87px;
  top:221px;
  width:310px;
  height:40px;
  color:#CCCCCC;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:96px;
  top:229px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:96px;
  top:280px;
  width:274px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:82px;
  top:310px;
  width:320px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:92px;
  top:318px;
  width:35px;
  height:35px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:137px;
  top:320px;
  width:40px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:138px;
  top:338px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:332px;
  top:323px;
  width:25px;
  height:25px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:367px;
  top:323px;
  width:25px;
  height:25px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:82px;
  top:359px;
  width:320px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:92px;
  top:367px;
  width:35px;
  height:35px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:137px;
  top:369px;
  width:40px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:138px;
  top:387px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:332px;
  top:372px;
  width:25px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:367px;
  top:372px;
  width:25px;
  height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:82px;
  top:408px;
  width:320px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:92px;
  top:416px;
  width:35px;
  height:35px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:137px;
  top:418px;
  width:40px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:138px;
  top:436px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:332px;
  top:421px;
  width:25px;
  height:25px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:367px;
  top:421px;
  width:25px;
  height:25px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
