body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:1200px;
  height:70px;
  font-size:28px;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:18px;
  width:1196px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:970px;
  top:34px;
  width:30px;
  height:34px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1019px;
  top:42px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1148px;
  top:40px;
  width:22px;
  height:25px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:845px;
  top:43px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:790px;
  top:22px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:790px;
  top:54px;
  width:30px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:805px;
  top:10px;
  width:30px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:200px;
  top:202px;
  width:995px;
  height:95px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:0px;
  width:300px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:330px;
  top:0px;
  width:120px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:450px;
  top:0px;
  width:120px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:570px;
  top:0px;
  width:150px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:720px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:820px;
  top:0px;
  width:170px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:30px;
  width:30px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:30px;
  top:30px;
  width:300px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:330px;
  top:30px;
  width:120px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:450px;
  top:30px;
  width:120px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:570px;
  top:30px;
  width:150px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:720px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:820px;
  top:30px;
  width:170px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:60px;
  width:30px;
  height:30px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:60px;
  width:300px;
  height:30px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:330px;
  top:60px;
  width:120px;
  height:30px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:450px;
  top:60px;
  width:120px;
  height:30px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:570px;
  top:60px;
  width:150px;
  height:30px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:720px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:820px;
  top:60px;
  width:170px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:208px;
  top:209px;
  width:20px;
  height:16px;
}
#u61 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62 {
  position:absolute;
  left:208px;
  top:239px;
  width:20px;
  height:16px;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:208px;
  top:267px;
  width:20px;
  height:16px;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:520px;
  top:160px;
  width:100px;
  height:30px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u66_input:disabled {
  color:grayText;
}
#u67 {
  position:absolute;
  left:740px;
  top:160px;
  width:200px;
  height:30px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:630px;
  top:160px;
  width:100px;
  height:30px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u68_input:disabled {
  color:grayText;
}
#u69 {
  position:absolute;
  left:950px;
  top:160px;
  width:70px;
  height:30px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:1030px;
  top:160px;
  width:70px;
  height:30px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:1110px;
  top:160px;
  width:70px;
  height:30px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u73 {
  position:absolute;
  left:1060px;
  top:312px;
  width:60px;
  height:30px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:915px;
  top:312px;
  width:29px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:943px;
  top:312px;
  width:29px;
  height:30px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:971px;
  top:312px;
  width:29px;
  height:30px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:999px;
  top:312px;
  width:29px;
  height:30px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1026px;
  top:312px;
  width:29px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:850px;
  top:312px;
  width:60px;
  height:30px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:785px;
  top:312px;
  width:60px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:670px;
  top:320px;
  width:50px;
  height:16px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:720px;
  top:312px;
  width:60px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:196px;
  top:90px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:195px;
  top:124px;
  width:995px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:978px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:995px;
  height:1px;
}
#u97 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  text-align:left;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u98 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:278px;
  width:180px;
  height:41px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u100 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:41px;
  text-align:left;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u102 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:41px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u104 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:41px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u106 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:436px;
  width:180px;
  height:41px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u108 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:715px;
  width:180px;
  height:41px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:475px;
  width:180px;
  height:41px;
  text-align:left;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u112 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:755px;
  width:180px;
  height:41px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u114 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:41px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u116 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:396px;
  width:180px;
  height:41px;
  text-align:left;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u118 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:0px;
  top:675px;
  width:180px;
  height:41px;
  text-align:left;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:954px;
  width:180px;
  height:41px;
  text-align:left;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:994px;
  width:180px;
  height:41px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:1074px;
  width:180px;
  height:41px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:795px;
  width:180px;
  height:41px;
  text-align:left;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:875px;
  width:180px;
  height:41px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:0px;
  top:515px;
  width:180px;
  height:41px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u132 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:318px;
  width:180px;
  height:40px;
  text-align:left;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:0px;
  top:356px;
  width:180px;
  height:41px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u136 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:595px;
  width:180px;
  height:41px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u138 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:0px;
  top:555px;
  width:180px;
  height:41px;
  text-align:left;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u140 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:0px;
  top:835px;
  width:180px;
  height:41px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u142 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:0px;
  top:915px;
  width:180px;
  height:41px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u144 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:0px;
  top:1154px;
  width:180px;
  height:41px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u146 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:1114px;
  width:180px;
  height:41px;
  text-align:left;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u148 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:635px;
  width:180px;
  height:41px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u150 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:0px;
  top:1034px;
  width:180px;
  height:41px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u152 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
