body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:500px;
  top:262px;
  width:270px;
  height:179px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
}
#u1 {
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:544px;
  top:286px;
  width:182px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:679px;
  top:408px;
  width:55px;
  height:24px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:547px;
  top:408px;
  width:78px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:515px;
  top:330px;
  width:240px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u11 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:82px;
  top:167px;
  width:320px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:90px;
  top:182px;
  width:20px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:82px;
  top:286px;
  width:320px;
  height:100px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:328px;
  top:310px;
  width:65px;
  height:16px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:97px;
  top:296px;
  width:200px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:97px;
  top:331px;
  width:296px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u23 {
  position:absolute;
  left:82px;
  top:464px;
  width:320px;
  height:120px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u24 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:325px;
  top:491px;
  width:65px;
  height:16px;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:94px;
  top:477px;
  width:200px;
  height:32px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:94px;
  top:511px;
  width:296px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u30 {
  position:absolute;
  left:94px;
  top:524px;
  width:296px;
  height:45px;
  font-size:12px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:45px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:331px;
  top:177px;
  width:60px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:82px;
  top:385px;
  width:320px;
  height:80px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u35 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:94px;
  top:440px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:94px;
  top:394px;
  width:200px;
  height:32px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:325px;
  top:406px;
  width:65px;
  height:16px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:94px;
  top:426px;
  width:296px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u43 {
  position:absolute;
  left:97px;
  top:344px;
  width:296px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:82px;
  top:216px;
  width:320px;
  height:60px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:97px;
  top:226px;
  width:200px;
  height:38px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:82px;
  top:686px;
  width:320px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:168px;
  top:694px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:165px;
  top:716px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:300px;
  top:695px;
  width:20px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:299px;
  top:717px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
