body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:1200px;
  height:70px;
  font-size:28px;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:18px;
  width:1196px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:970px;
  top:34px;
  width:30px;
  height:34px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1019px;
  top:42px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1148px;
  top:40px;
  width:22px;
  height:25px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:845px;
  top:43px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:790px;
  top:22px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:790px;
  top:54px;
  width:30px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:805px;
  top:10px;
  width:30px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:196px;
  top:90px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:195px;
  top:124px;
  width:995px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:978px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:995px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:320px;
  width:180px;
  height:40px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:358px;
  width:180px;
  height:41px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:41px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:41px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:41px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:436px;
  width:180px;
  height:41px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:674px;
  width:180px;
  height:41px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:714px;
  width:180px;
  height:41px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:873px;
  width:180px;
  height:41px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:1113px;
  width:180px;
  height:41px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:1153px;
  width:180px;
  height:41px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:754px;
  width:180px;
  height:41px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:397px;
  width:180px;
  height:41px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:913px;
  width:180px;
  height:41px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:280px;
  width:180px;
  height:41px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:41px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:41px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:634px;
  width:180px;
  height:41px;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:833px;
  width:180px;
  height:41px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:1193px;
  width:180px;
  height:41px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:1233px;
  width:180px;
  height:41px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:1273px;
  width:180px;
  height:41px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:594px;
  width:180px;
  height:41px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:555px;
  width:180px;
  height:41px;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:475px;
  width:180px;
  height:41px;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:515px;
  width:180px;
  height:41px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:1312px;
  width:180px;
  height:41px;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:1352px;
  width:180px;
  height:41px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:1392px;
  width:180px;
  height:41px;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:1432px;
  width:180px;
  height:41px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:1472px;
  width:180px;
  height:41px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:1512px;
  width:180px;
  height:41px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:794px;
  width:180px;
  height:41px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:953px;
  width:180px;
  height:41px;
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:993px;
  width:180px;
  height:41px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u90 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:1033px;
  width:180px;
  height:41px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:1073px;
  width:180px;
  height:41px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:200px;
  top:150px;
  width:153px;
  height:16px;
  color:#000000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:200px;
  top:190px;
  width:222px;
  height:16px;
  color:#1E1E1E;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:305px;
  top:390px;
  width:98px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:305px;
  top:350px;
  width:98px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:305px;
  top:230px;
  width:100px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:195px;
  top:230px;
  width:100px;
  height:130px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u106 {
  position:absolute;
  left:2px;
  top:57px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:305px;
  top:270px;
  width:191px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:305px;
  top:310px;
  width:165px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:640px;
  top:390px;
  width:98px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:640px;
  top:350px;
  width:98px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:640px;
  top:230px;
  width:100px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:530px;
  top:230px;
  width:100px;
  height:130px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u118 {
  position:absolute;
  left:2px;
  top:57px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:640px;
  top:270px;
  width:191px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:640px;
  top:310px;
  width:165px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:999px;
  top:390px;
  width:98px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:999px;
  top:350px;
  width:98px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:999px;
  top:230px;
  width:100px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:889px;
  top:230px;
  width:100px;
  height:130px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u130 {
  position:absolute;
  left:2px;
  top:57px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:999px;
  top:270px;
  width:191px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:999px;
  top:310px;
  width:165px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:310px;
  top:590px;
  width:98px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:310px;
  top:550px;
  width:98px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:310px;
  top:430px;
  width:100px;
  height:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:200px;
  top:430px;
  width:100px;
  height:130px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u142 {
  position:absolute;
  left:2px;
  top:57px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:310px;
  top:470px;
  width:191px;
  height:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:310px;
  top:510px;
  width:165px;
  height:16px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:205px;
  top:670px;
  width:140px;
  height:16px;
  color:#000000;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:205px;
  top:710px;
  width:287px;
  height:16px;
  color:#1E1E1E;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:310px;
  top:840px;
  width:111px;
  height:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:310px;
  top:750px;
  width:100px;
  height:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:200px;
  top:750px;
  width:100px;
  height:130px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u156 {
  position:absolute;
  left:2px;
  top:57px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:310px;
  top:780px;
  width:178px;
  height:16px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:310px;
  top:810px;
  width:152px;
  height:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:310px;
  top:930px;
  width:111px;
  height:16px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:310px;
  top:870px;
  width:178px;
  height:16px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:310px;
  top:900px;
  width:100px;
  height:16px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:640px;
  top:840px;
  width:111px;
  height:16px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:640px;
  top:750px;
  width:100px;
  height:16px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:530px;
  top:750px;
  width:100px;
  height:130px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u172 {
  position:absolute;
  left:2px;
  top:57px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:640px;
  top:780px;
  width:178px;
  height:16px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:640px;
  top:810px;
  width:152px;
  height:16px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:640px;
  top:930px;
  width:111px;
  height:16px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:640px;
  top:870px;
  width:178px;
  height:16px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:640px;
  top:900px;
  width:113px;
  height:16px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
