body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:82px;
  top:167px;
  width:320px;
  height:50px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:92px;
  top:182px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:82px;
  top:216px;
  width:320px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:87px;
  top:221px;
  width:310px;
  height:40px;
  color:#CCCCCC;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:96px;
  top:229px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:96px;
  top:280px;
  width:274px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:82px;
  top:310px;
  width:320px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:126px;
  top:318px;
  width:35px;
  height:35px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:171px;
  top:320px;
  width:40px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:172px;
  top:338px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:92px;
  top:326px;
  width:20px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:82px;
  top:359px;
  width:320px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:126px;
  top:367px;
  width:35px;
  height:35px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:171px;
  top:369px;
  width:40px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:172px;
  top:387px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:92px;
  top:375px;
  width:20px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:82px;
  top:457px;
  width:320px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:126px;
  top:465px;
  width:35px;
  height:35px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:171px;
  top:467px;
  width:40px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:172px;
  top:485px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:92px;
  top:473px;
  width:20px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:82px;
  top:506px;
  width:320px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:126px;
  top:514px;
  width:35px;
  height:35px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:171px;
  top:516px;
  width:40px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:172px;
  top:534px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:92px;
  top:522px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:82px;
  top:408px;
  width:320px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:126px;
  top:416px;
  width:35px;
  height:35px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:171px;
  top:418px;
  width:40px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:172px;
  top:436px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:92px;
  top:425px;
  width:20px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:82px;
  top:555px;
  width:320px;
  height:50px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:126px;
  top:563px;
  width:35px;
  height:35px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:171px;
  top:565px;
  width:40px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:172px;
  top:583px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:92px;
  top:572px;
  width:20px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:82px;
  top:685px;
  width:320px;
  height:50px;
  text-align:left;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u75 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:310px;
  top:692px;
  width:80px;
  height:36px;
  font-size:12px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:460px;
  top:414px;
  width:410px;
  height:95px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:95px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
