body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:82px;
  top:167px;
  width:320px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:182px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:82px;
  top:216px;
  width:320px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:82px;
  top:265px;
  width:81px;
  height:40px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:162px;
  top:265px;
  width:81px;
  height:40px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:242px;
  top:265px;
  width:81px;
  height:40px;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:321px;
  top:265px;
  width:81px;
  height:40px;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:366px;
  top:230px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:84px;
  top:279px;
  width:10px;
  height:10px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:166px;
  top:280px;
  width:10px;
  height:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:247px;
  top:280px;
  width:10px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:325px;
  top:279px;
  width:10px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:82px;
  top:304px;
  width:320px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:82px;
  top:353px;
  width:320px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:82px;
  top:402px;
  width:320px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:82px;
  top:451px;
  width:320px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:82px;
  top:500px;
  width:320px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:82px;
  top:549px;
  width:320px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:82px;
  top:598px;
  width:320px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:82px;
  top:647px;
  width:320px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:82px;
  top:696px;
  width:320px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:340px;
  top:319px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:340px;
  top:515px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:340px;
  top:613px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
